<div class="page-header" id="ceh">Edit your comment!</div>

<div class="container" >        
      <%= form_for [@comment, Comment.new] do |f| %>
      <%= f.text_area :body, class: "form-control" %><br/>
      <%= f.submit "Update", class: "btn-danger" %>
   
      <br/>            
      <% end %>
</div>
