<h1>Homepage</h1>

<ul>
<% flash.each do |key, msg| %>
  <%= content_tag :li, msg, id: key %>
<% end %>
</ul>

<p><%= link_to 'Sign in with Facebook', signin_path, class: "btn-facebook" %></p>

<button type="button" class="btn btn-lg btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>


